@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  --primary-color: black;
  --secondary-color: #6b6b6b;
  --card-color: #f3f3f3;
  --border-color: #c7c7c7;
  --green: #66fc75;
}

body {
  font-family: "Geist", sans-serif;
  margin-bottom: 300px;
}

.container {
  padding: 0px 80px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo img {
  width: 60px;
  height: 60px;
}

.logo p {
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
}

.nav-links {
  display: flex;
  gap: 40px;
}

.nav-links li a {
  font-size: 18px;
  color: var(--secondary-color);
  font-weight: 300;
  transition: all 0.2s linear;
}

.nav-links li a:hover {
  color: var(--primary-color);
}

.contact-us-button {
  background-color: var(--primary-color);
  border-radius: 200px;
  padding: 10px 8px;
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;
}

.green-dot {
  width: 10px;
  height: 10px;
  background-color: var(--green);
  border-radius: 50%;
  margin-left: 15px;
}

.contact-us-button p {
  font-weight: 300;
}
.arrow-icon-container {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow-icon-container svg {
  width: 18px;
  height: 18px;
}

.hero-section {
  background-image: url(https://cdn.prod.website-files.com/6784794885cc7b8dbfb185e2/6784958c2c4ad0bc028ac10a_hero-bg-v4.jpg);
  border-radius: 30px;
  background-size: cover;
  background-position: 80% 50%;
  padding: 30px 80px;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 30px;
}

.hero-content {
  z-index: 100;
  position: relative;
  width: 50%;
}

.hero-content h1 {
  font-size: 75px;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1.1;
}

.hero-content > p {
  font-size: 17px;
  color: white;
  font-weight: 300;
  margin-top: 20px;
  width: 90%;
  margin-bottom: 40px;
}

.outline {
  background-color: transparent;
  border: 1px solid var(--card-color);
}

.outline p {
  padding-left: 15px;
}

.outline .arrow-icon-container {
  background-color: var(--primary-color);
  color: white;
}

.w-content {
  width: max-content;
}

.hero-info {
  display: flex;
  color: white;
  align-items: center;
  margin-top: 70px;
  justify-content: space-between;
}

.hero-info div p sup {
  margin-left: -13px;
}

.hero-info div p {
  font-size: 50px;
}

.rating {
  display: flex;
  align-items: center;
  gap: 10px;
}

.images-badge {
  display: flex;
  align-items: center;
}

.images-badge img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 3px solid white;
}
.move-image {
  transform: translateX(-10px);
}

.move-image2 {
  transform: translateX(-20px);
}

.move-image3 {
  transform: translateX(-30px);
}

.rating-info p {
  font-weight: 600;
}

.rating-stars {
  display: flex;
  gap: 7px;
  align-items: center;
}
.star-container svg {
  width: 28px;
}

.star-container {
  display: flex;
  color: yellow;
}

.rating {
  position: absolute;
  z-index: 100;
  bottom: 0;
  right: 0;
  background-color: white;
  padding: 20px 20px;
  border-top-left-radius: 30px;
}

.bottom-left-radius,
.top-right-radius,
.offer-bottom-left-radius,
.offer-top-right-radius {
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 0;
  transform: rotate(180deg);
  z-index: 2000;
}

.bottom-left-radius {
  left: 760px;
}

.top-right-radius {
  right: 0px;
  bottom: 100px;
}

.title-badge {
  border: 1px solid var(--border-color);
  padding: 5px 20px;
  width: max-content;
  border-radius: 100px;
  background-color: var(--card-color);
}

.offer-section {
  margin-top: 200px;
}

.offer-section > h1 {
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 600;
  margin-top: 20px;
}

.offer-section > p {
  font-size: 18px;
  font-weight: 300;
  width: 60%;
  margin-top: 10px;
}

.offers {
  display: flex;
  align-items: end;
  margin-top: 60px;
}

.offer-left {
  width: 25%;
}
.offer-right {
  width: 75%;
}

.offer-left > svg {
  width: 50px;
  height: 50px;
}

.offer-left > h1 {
  font-size: 23px;
  font-weight: 600;
}
.offer-left > p {
  font-size: 18px;
  font-weight: 300;
  margin-top: 10px;
}

.offer-right {
  display: flex;
  align-items: center;
}

.offer-1 {
  width: 100%;
  background-color: red;
  height: 500px;
  border-radius: 40px;
  position: relative;
}

.offer-1 img {
  width: 100%;
  height: 100%;
  border-radius: 40px;
}

.offer-info {
  position: absolute;
  bottom: 0px;
  right: 0px;
  background-color: white;
  padding: 15px;
  border-top-left-radius: 30px;
}

.offer-info h1 {
  font-size: 45px;
  font-weight: 300;
}

.offer-info p {
  font-size: 18px;
  font-weight: 600;
}

.offer-bottom-left-radius {
  right: 193px;
}

.offer-top-right-radius {
  right: 0;
  bottom: 110px;
}

.offer-2 {
  height: 500px;
  display: flex;
  color: var(--border-color);
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 150px;
  border-right: 1px solid black;
}

.offer-2 div {
  transform: rotate(-90deg);
  display: flex;
  width: 400px;
  position: absolute;
  align-items: center;
  bottom: 35%;
  gap: 10px;
}
.offer-2 div h1 {
  font-size: 40px;
  font-weight: 300;
}

.offer-2 div p {
  font-size: 30px;
  font-weight: 500;
}
.offer-2 > svg {
  width: 40px;
  height: 40px;
}

.offer-3 {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--border-color);
  position: relative;
  width: 150px;
  border-right: 1px solid black;
}

.offer-3 div {
  display: flex;
  transform: rotate(-90deg);
  width: 400px;
  position: absolute;
  bottom: 35%;
  align-items: center;
  gap: 10px;
}

.offer-3 div h1 {
  font-size: 40px;
  font-weight: 300;
}

.offer-3 svg {
  width: 40px;
  height: 40px;
}

.offer-3 div p {
  font-size: 30px;
  font-weight: 500;
}
